html{
    background: #EFEFEF;
   
}
footer{
    
    text-align: center;
    font-family: Avenir, 'Source Sans Pro', sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -122px;
}
.contenedor {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Avenir, 'Source Sans Pro', sans-serif;
    justify-content: center;
}
.horas{
    padding: 8px 20px;
    margin: 3px 0;
    box-sizing: border-box;
}
.segundos{
    padding: 8px 20px;
    margin: 3px 0;
    box-sizing: border-box;
}
.minutos{
    padding: 8px 20px;
    margin: 3px 0;
    box-sizing: border-box;
}
.clases{
    font-size: 18px;
    font-weight: 900;
    position: relative;
    right: 10px;
    bottom: -1px;
}
#header{
    
    font-size: 20px;
    font-weight: 900;
    
    
}
#boton-calcular{
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    position: relative;
    bottom: -20px;
    
}
#boton-calcular:hover{
    background-color: #004e9c;
}
#resultado{
    position: relative;
    bottom: -30px;
    font-size: 47px;
    font-weight: 900;
    color: red;
    visibility: hidden;
}


